* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(66, 66, 66);
}

.wrapper {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
    
}

.slider {
    max-width: 100%;
    max-height: 50vw;
    overflow: hidden;
    display: flex;
}


.slide {
    width:100%;
    height: auto;
}


img {
    object-fit: contain;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.btns {

}

.btn {
    display: inline-block;
    margin: 10px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: rgb(95, 95, 221);
    border-color: rgb(95, 95, 221);
}

.btn:hover {
    background-color: rgb(236, 236, 236);
    border-color: rgb(236, 236, 236);
    cursor: pointer;
}

.wrapper > input {
    display: none;
}

.memes {
    text-align: center;
}

p {
    color: rgb(236, 236, 236);
    font-size: 24px;
}




button {
    display: block;
    margin: 10px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: rgb(95, 95, 221);
    border-color: rgb(95, 95, 221);
    border-style: solid;
}

button:hover{
    
}

button.one {
    background-color: rgba(0, 0, 0, 0);
}

button:focus {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(95, 95, 221);
}

button.two:focus img{
    src: url(./memes/mem2.jpg);
}
